/*$background: #c6538c;*/
$navText: #fd4848;
$accent:#fd4848;
$font-family: 'Mountains of Christmas', cursive;
$background: #FFF1C8;
$primary: #499f68;
$buttonPrimary: #d0eedb;
$buttonPrimaryColour:white;

$accent:#435473;
$navText: white;
$primary: #313A4C;
$font-family: 'Montserrat';
$background: #6AB28C;
$buttonPrimary: #ffda71;
$buttonPrimaryColour:#74572c;
$buttonBorderRadius: 3px;

/* #ffb54a */
