h1 {
  margin-top:0;
  padding: 1rem 1rem 0 1rem;
}

@media only screen and (max-width: 500px) {
  h1 {
    font-size: 1.5rem;
  }
}
.appbar {
  display: flex;
  flex-direction: row-reverse;
  justify-items: center;
  align-items: center;
}
nav ul {
  list-style: none;
  display: flex;
}
nav ul li {
  margin: 0px 20px;
  font-family: 'Mountains of Christmas', cursive;
  font-size: 24px;
}
@media (min-width: 500px) {
  nav ul li {
    margin: 0px 30px;
  }
}

nav ul li a, 
nav ul li button {
  color:#fd4848!important;
  text-decoration: underline!important;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
}
