.favouriteButton {
    border: none;
    background:none;
    cursor:pointer;
    margin-left:1em;
}
.favouriteButton {
    stroke:#FFC61C;
    fill: none;
}
.favouriteButton.favouriteButton--higlighted {
    fill:#FFC61C;
}