@import 'src/_colors.scss';

html {
  border-top: 8px solid $accent;   
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  background: $background;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  padding: 10px;
  color: #4d3b3b;
}

h1 {
  font-family: $font-family;
  font-size: 48px;
  text-align: center;
  color:$accent;   
  font-weight: bold;
  margin-top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


html {height: 100%;}
            body {height: 100%; margin: 0; padding: 0;}