.signInContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top:30px;
	flex-direction: column;
}

.signInContainer__form {
	max-width: 400px;
}

.signInContainer p {
	text-align:center;
} 

.signInContainer__subHeader{
	font-size: 22px;
}