#background{
  position:relative;
  background: #000854;
  background: #260054;
  background-size:100%; 
  height:350px;
  background-repeat: repeat;
  margin:0;
  width:350px;
  border-radius:400px;
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/191814/flake2.png'), url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/191814/flake3.png');
  background-size: auto;
  overflow:hidden;
  max-width: 1200px;
}


#santa {
  background:#E64604;
  top:-80px;
  left: 20px;
width: 160px;
height: 200px;
border-radius: 45% 45% 0% 0% / 42% 42% 0% 0%;
bottom: 17px;
right: 40px;
position: absolute;
  z-index:-999;
  clip: rect(-20px 200px 100px 0);
}

#santa::before{
  content: " ";
  background:#260054;
  height: 50px;
  left: 60px;
  top: -20px;
  width:40px;
  z-index:1;
  position:absolute;
}

#santa::after{
  content:" ";
  width: 100px;
height: 17px;
border-radius: 0 0 17px 17px;
background:black;
position: absolute;
top:-17px;
left: 30px;
}

#chimney {
  height:200px;
  position:absolute;
  bottom:0;
  width:200px;
  left: 75px;
  z-index:99;
  box-shadow: inset 0px 60px  5px rgba(0,0,0,.5);
}

#chimney::after{
  content: " ";
  width: 240px;
  left:-20px;
  position:absolute;
  height:20px;
  top:-10px;
  border-radius: 20px 20px 5px 5px;
  background:white;
}
#chimney::before{
  content: " ";
  width: 230px;
  left:-15px;
  position:absolute;
  height:50px;
}

.brick,
.brick::before{
  background:brown;
  background-image: -webkit-radial-gradient(center center, ellipse farthest-corner, transparent 0%, transparent 10%, rgba(0,0,0,0.6) 100%), -webkit-linear-gradient(top, #8b4f39 0%, #8b4f39 1px, transparent 1px, transparent 14px, #8b4f39 14px, #8b4f39 16px, transparent 16px, transparent 29px, #8b4f39 29px, #8b4f39 30px), -webkit-linear-gradient(45deg, #c07e66 0%, #c07e66 25%, transparent 25%, transparent 75%, #bb7258 75%, #bb7258 100%), -webkit-linear-gradient(45deg, #bb7258 0%, #bb7258 25%, transparent 25%, transparent 75%, #c07e66 75%, #c07e66 100%), -webkit-linear-gradient(left, #8b4f39 0px, #8b4f39 1px, transparent 1px, transparent 14px, #8b4f39 14px, #8b4f39 16px, transparent 16px, transparent 29px, #8b4f39 29px, #8b4f39 30px), -webkit-linear-gradient(45deg, #c07e66 0%, #c07e66 25%, transparent 25%, transparent 75%, #bb7258 75%, #bb7258 100%), -webkit-linear-gradient(45deg, #bb7258 0%, #bb7258 25%, transparent 25%, transparent 75%, #c07e66 75%, #c07e66 100%);
background-position: 0 0, 0 0, 13px 0, 28px 15px, 0 0, 0 0, 15px 15px;
background-size: 600px 300px, 30px 30px, 30px 30px, 30px 30px, 30px 30px, 30px 30px, 30px 30px;
background-repeat: repeat;
}

#roof::before {
  content: " ";
  background:green;
  width:100%;
  height:200px;
  position:absolute;
  top:-200px;
  left: 100px;
  z-index:99;
  transform: skew(-45deg)
}
#snow {
	background: none;
	z-index: -1;
	background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/191814/flake2.png'), url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/191814/flake3.png');
	height: 100%;
	left: 0;
	top: 0;
	width: 100%;
	-webkit-animation: snow 10s linear infinite;
	-moz-animation: snow 10s linear infinite;
	-ms-animation: snow 10s linear infinite;
	animation: snow 10s linear infinite;
}



@keyframes stuck {
  0%   {transform: rotate(0deg);}
  60%   {transform: rotate(0deg);}
  70%  {transform: rotate(-5deg);}
  90%  {transform: rotate(3deg);}
  100% {transform: rotate(0deg);}
}
#santa {
  animation-name: stuck;
  animation-duration: 10s;
   animation-delay: 0s;
  animation-iteration-count: infinite;
}