@use 'colors';

.signUpContainer #splashImage {
	margin-right:50px;
}

@media only screen and (max-width: 600px) {
	.signUpContainer #splashImage {
		display: none;
	}
}


.signUpContainer {
	display: flex;
	align-items: center;
	justify-content: center;
}


.signUpContainer ol {
	max-width: 400px;
	padding: 5px;
	list-style: none;
	counter-reset: custom-counter;
}

.signUpContainer ol li {
	margin: 40px 0;
	counter-increment: custom-counter;
}

.signUpContainer ol li::before {
	content: counter(custom-counter);
	background:colors.$primary;
	width:1.5em;
	height:1.5em;
	border-radius: 100%;
	color:white;
	text-align: center;
	display: inline-block;
}

.signUpContainer ol strong{
	display: inline-block;
	color:colors.$primary;
	margin: 0 10px;
}